<!-- Loop over each object in the projects array -->
{{#each postsDataJson as |post| }}
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>
      {{post.post_content}}
    </p>
    <p>Created by {{post.user.username}} on {{post.date_created}}</p>
  </div>
  </div>
</div>
{{/each}}
